.cartIcon{
  font-size: x-large;
  color: white
}
.navbar a{
  color:whitesmoke;
}
.navbar a:hover{
  color: white;
  text-decoration: none;
}
.dropdown-item a{
  color:black
}
.dropdown-item a:hover{
  color:black
}
.dropdown-menu a{
  color:black
}
.dropdown-menu a:hover{
  color:black
}